<div fxFlex fxFlexFill fxLayout="column">

    <mat-sidenav-container #navContainer fxFlex fxLayout="column">
        <mat-sidenav id="menu" align="start" mode="side" [opened]="true" class="menuMinimized">
            <mat-nav-list>
                <a mat-list-item (click)="themeService.toggle()">
                    <mat-icon mat-list-icon>invert_colors</mat-icon>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <div style="padding:20px;" fxLayout="column" fxLayoutGap="20px">

            <div fxLayout="row" fxLayoutAlign="start center">
                <h1 fxFlex class="mat-headline" style="margin-bottom:0">Natural Search</h1>
                <a mat-raised-button color="primary" href="https://github.com/ecodev/natural-search">
                    <img src="assets/github.svg" style="height:24px;"> Github
                </a>
            </div>

            <natural-search [configurations]="config" [(values)]="values" [multipleGroups]="true"></natural-search>

            <div fxLayout="row" fxLayoutGap="20px">
                <button mat-raised-button color="primary" (click)="config = config1">Config 1</button>
                <button mat-raised-button color="primary" (click)="config = config2">Config 2</button>
                <button mat-raised-button color="primary" (click)="config = null">No config</button>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <pre class="debug" fxFlex><strong>Config : </strong>{{config|json}}</pre>
                <pre class="debug" fxFlex><strong>Values : </strong>{{values|json}}</pre>
            </div>
        </div>
    </mat-sidenav-container>
</div>
