<div fxFlexFill fxLayout="column">

    <mat-sidenav-container #navContainer fxFlex fxLayout="column">
        <mat-sidenav id="menu" align="start" mode="side" [opened]="true" class="menuMinimized">
            <mat-nav-list>
                <a mat-list-item (click)="themeService.toggle()">
                    <mat-icon mat-list-icon>invert_colors</mat-icon>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <div style="padding:20px;" fxLayout="column" fxLayoutGap="20px">

            <div fxLayout="row" fxLayoutAlign="start center">
                <h1 fxFlex class="mat-headline" style="margin-bottom:0">Natural Search</h1>
                <a mat-raised-button color="primary" href="https://github.com/ecodev/natural-search">
                    <img src="assets/github.svg" style="height:24px;"> GitHub
                </a>
            </div>

            <natural-search [configurations]="config"
                            [selections]="selections"
                            (selectionChange)="updateFilter($event); selectionsDone = $event"
                            [multipleGroups]="true"
            ></natural-search>

            <div fxLayout="row" fxLayoutGap="20px">
                <button mat-raised-button color="primary" (click)="config = config1">Config 1</button>
                <button mat-raised-button color="primary" (click)="config = config2">Config 2</button>
                <button mat-raised-button color="primary" (click)="config = null">No config</button>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
                <pre class="debug" fxFlex style="overflow:auto"><strong>Config: </strong>{{ config | json }}</pre>
                <pre class="debug" fxFlex style="overflow:auto"><strong>Selections input: </strong>{{ selections | json }}</pre>
                <pre class="debug" fxFlex style="overflow:auto"><strong>Selections output: </strong>{{ selectionsDone | json }}</pre>
                <pre class="debug" fxFlex style="overflow:auto"><strong>GraphQL selections: </strong>{{ graphqlSelections | json }}</pre>
<!--                <pre class="debug" fxFlex><strong>JSON serialized length: </strong>

Selections:
    {{ stringify(selections)?.length }}
    {{ stringify(selections) }}

GraphQL selections:
    {{ stringify(graphqlSelections)?.length }}
    {{ stringify(graphqlSelections) }}

Compressed selections:
    {{ toUrl(selections)?.length }}
    {{ toUrl(selections) }}
                </pre>-->
            </div>
        </div>
    </mat-sidenav-container>
</div>
